set_io a[0] gfpga_pad_io_soc_in[13]
set_io a[1] gfpga_pad_io_soc_in[14]
set_io a[2] gfpga_pad_io_soc_in[15]
set_io a[3] gfpga_pad_io_soc_in[16]
set_io a[4] gfpga_pad_io_soc_in[17]
set_io a[5] gfpga_pad_io_soc_in[18]
set_io a[6] gfpga_pad_io_soc_in[19]
set_io a[7] gfpga_pad_io_soc_in[36]
set_io a[8] gfpga_pad_io_soc_in[37]
set_io a[9] gfpga_pad_io_soc_in[38]
set_io a[10] gfpga_pad_io_soc_in[39]
set_io a[11] gfpga_pad_io_soc_in[40]
set_io a[12] gfpga_pad_io_soc_in[41]
set_io a[13] gfpga_pad_io_soc_in[42]
set_io a[14] gfpga_pad_io_soc_in[43]
set_io a[15] gfpga_pad_io_soc_in[44]
set_io a[16] gfpga_pad_io_soc_in[45]
set_io a[17] gfpga_pad_io_soc_in[46]
set_io a[18] gfpga_pad_io_soc_in[119]
set_io a[19] gfpga_pad_io_soc_in[120]
set_io a[20] gfpga_pad_io_soc_in[121]
set_io a[21] gfpga_pad_io_soc_in[122]
set_io a[22] gfpga_pad_io_soc_in[123]
set_io a[23] gfpga_pad_io_soc_in[124]
set_io a[24] gfpga_pad_io_soc_in[125]

set_io b gfpga_pad_io_soc_out[126]
set_io c gfpga_pad_io_soc_out[127]